---
import 'toastify-js/src/toastify.css';

import Base from '@/layouts/base.astro';
import { Image } from 'astro:assets';

import {
  backgroundSigns,
  ImageAssets,
  isOverlaySignGroup,
  getSigns,
} from '@/services/stellar';

const signs = await getSigns();
---

<Base>
  <div class="signs">
    <div>Base</div>
    <div>Overlay</div>
    <div class="base">
      {
        signs
          .filter((sign) => !isOverlaySignGroup(sign.group))
          .sort((a, b) => (a.group < b.group ? -1 : a.name < b.name ? -1 : 1))
          .map((sign) => (
            <button type="button" data-url={sign.loc} class="sign">
              <Image src={ImageAssets[sign.src]} alt={sign.name} />
              <div class="name">{sign.name}</div>
            </button>
          ))
      }
    </div>
    <div class="overlay">
      {
        signs
          .filter((sign) => isOverlaySignGroup(sign.group))
          .sort((a, b) => (a.group < b.group ? -1 : a.name < b.name ? -1 : 1))
          .map((sign) => (
            <button type="button" data-url={sign.loc} class="sign sign-overlay">
              <Image
                src={backgroundSigns[sign.group] as ImageMetadata}
                alt="Background for sign"
                class="sign-background"
              />
              <Image src={ImageAssets[sign.src]} alt={sign.name} />
              <div class="name">{sign.name}</div>
            </button>
          ))
      }
    </div>
  </div>
</Base>

<style type="text/css">
  .filters {
    display: flex;
    justify-content: space-around;
  }

  .signs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
  }

  .signs > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 5px;
    width: calc(50% - 5px);
  }

  .sign {
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative;
  }

  .sign:hover {
    border-color: white;
  }

  .sign img {
    width: 100%;
    height: auto;
  }

  .sign-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
</style>

<script>
  import Toastify from 'toastify-js';

  const signs = document.querySelectorAll('.sign') as NodeListOf<HTMLElement>;
  signs.forEach((sign) => {
    sign.addEventListener('click', () => {
      if (sign.dataset.url) {
        navigator.clipboard.writeText(sign.dataset.url);

        Toastify({
          text: 'Copied',
          duration: 1000,
          position: 'center',
          style: {
            background: 'linear-gradient(to top left, #000000, #00004a)',
          },
        }).showToast();
      }
    });
  });
</script>
